@import "variables";
@import "mixins";

.btn {
  background-color: $interact-color;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0.5em 2em;
  color: white;
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
  font-size: 1.3em;

  &:hover, &:checked {
    background-color: $interact-color;
    color: white;
    box-shadow: none;
  }
}

.title {
  font-size: 1.3em;
  font-family: Rajdhanin, sans-serif;
  font-weight: 500;
}

.box {
  @include my_box
}

a {
  font-family: Barlow, sans-serif;
  font-weight: 500;
  color: black;
  transition: 300ms ease;

  &:hover {
    color: black;
    opacity: 0.7;
  }
}

.headpiece {
  width: $headpiece-width;
  @include my_box;

  #headpiece-image {
    width: 100%;
    height: calc(#{$headpiece-width} * 0.5);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #headpieceCarrouselControls, .carousel-inner, .carousel-item {
      height: 100%;
    }

  }

  #headpiece-content {
    margin: 1em;
  }

  #headpiece-button {
    text-align: center;
    margin-bottom: 1em;
  }

  #car-content-headpiece {
    .title {
      font-weight: 600;
    }
    .car-content-headpiece-info {
      margin: 0.5em 0;
    }
  }
}

.bubble {
  @include my_bubble
}

.loader {
  @include loader
}


.notification {
  z-index: 555000;
  position: fixed;
  min-width: 30vw;
  right: 1em;
  @include my_box;
  padding: 10px;
  margin-bottom: 10px;
}

.notification-close {
  color: #999;
  font-size: 2em;
  cursor: pointer;
}

#addComment {
  .btn {
    color: white !important;
    background-color: $alert-color;
  }
}

.information {
  @include my_bubble;
  text-align: center;
  font-weight: 500;
  padding: 0.7em;
  background-color: $impact-color;
}