@import "fonts/fonts.scss";

:root {
  --navbar-height: 10vh; // Hauteur de la navbar
  --text-font-size: 12px; // Taille de texte par defaut
  --title-font-size: 16px; // Taille de titre par defaut
  --headpiece-width: 200px; // Taille des affiche des occasion et des service
  --car-page-carousel-width: 50vw; // Taille de l'image sur la page des voiture occasions
}

@media (min-width: 992px) {
  :root {
    --navbar-height: 75px; // Hauteur de la navbar
  }
}

@media (min-width: 1200px) {
  :root {
  }
}

@media (min-width: 1400px) {
  :root {
    --navbar-height: 100px; // Hauteur de la navbar
    --text-font-size: 14px; // Taille de texte par defaut
    --title-font-size: 18px; // Taille de titre par defaut
  }
}

@media (max-device-width: 991px) {

  @media (orientation: portrait) {
    :root {
      --navbar-height: 8vh; // Hauteur de la navbar
      --text-font-size: 30px; // Taille de texte par defaut
      --title-font-size: 38px; // Taille de titre par defaut
      --headpiece-width: 90vw; // Taille des affiche des occasion et des service
      --car-page-carousel-width: 90vw; // Taille de l'image sur la page des voiture occasions
    }
  }

  @media (orientation: landscape) {
    :root {
      --navbar-height: 13vh; // Hauteur de la navbar
      --text-font-size: 20px; // Taille de texte par defaut
      --title-font-size: 26px; // Taille de titre par defaut
      --headpiece-width: 30vw; // Taille des affiche des occasion et des service
      --car-page-carousel-width: 90vw; // Taille de l'image sur la page des voiture occasions
    }

  }

}


//GENERALE

//BOOTSTRAP SET

.col, .row {
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  --bs-dropdown-font-size: 1em
}

//Color

$main-color: #FFFFFF; //Couleur principale
$secondary-color: #B7B7B7; //Couleur secondaire
$terce-color: #696867; //Couleur tierce
$terce-color2: #E7E7E7; //Couleur tierce
$interact-color: #000000; //Couleur interaction (lien, button,...)
$impact-color: #F4CA79; // Couleur pour attirer l'oeuil
$alert-color: #E84848; //Couleur d'alertes ou fort attrait

$title-font-size: var(--title-font-size);
$title-font-family: 'Rajdhani', sans-serif;
$text-font-size: var(--text-font-size);
$text-font-family: 'Barlow', sans-serif;


//HEADER
//Navbar
$navbar-breakpoint: 992px;
$navbar-color: $secondary-color;
$navbar-height: var(--navbar-height);

//FOOTER
$footer-color: $secondary-color;

//ELEMENTS

//Headpiece
$headpiece-width: var(--headpiece-width);


//Pages
//Car_pages
$car-page-carousel-width: var(--car-page-carousel-width);
