@import "../variables";

#OptionsPage, .management_page {

  .form-control {
    width: 30vw;
    margin: 0.5em 5vw 0.5em 0;
    @media (orientation: portrait) {
      width: 70%;
    }
  }

  .btn {
    color: black;
  }

  .btn.add-button {
    background-color: forestgreen;
  }

  .btn.remove-button {
    background-color: red;
  }

}

#commentManagement {

  .btn {
    color: black;
  }

  #valid_comment {
    background-color: green;
  }

  #unvalid_comment {
    background-color: darkorange;
  }

  #remove_comment {
    background-color: red;
  }

  .comment_filter {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      font-weight: 500;
      margin-right: 0.5em;
    }

    input {
      width: 1em;
      height: 1em;
    }
  }
}