@import "../variables";

#OptionsPage {

  .form-control {
    width: 30vw;
    margin: 0.5em 5vw 0.5em 0;
    @media (orientation: portrait) {
      width: 70%;
    }
  }

  .btn {
    color: black;
  }

  .btn.add-button {
    background-color: forestgreen;
  }

  .btn.remove-button {
    background-color: red;
  }

}