{% import 'macros.html.twig' as macro %}

<footer>
    <div id="base" class="row">
        <div class="col-lg-5">
            <div id="timetable">
                {{ macro.Timetable }}
            </div>
        </div>
        <div class="col-lg-3">
            <div id="footer-navigation">
                <div class="row">
                    <div class="col">
                        <nav>
                            <p class="title text-center">Navigation :</p>
                            <ul>
                                <li><a class="f_link" href="{{ path('app_homepage') }}"><i class="bi bi-house-door" aria-label="Accueil"></i>Accueil</p></a></li>
                                <li><a class="f_link" href="#"><i class="bi bi-wrench" aria-label="Services"></i>Services</a></li>
                                <li><a class="f_link" href="#"><i class="bi bi-car-front-fill" aria-label="Occasions"></i>Occasions</a></li>
                                <li><a class="f_link" href="#"><i class="bi bi-envelope" aria-label="Contact"></i>Contact</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a class="f_link" href="#"><i class="bi bi-person" aria-label="Mon espace"></i>Mon espace</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="col">
                        <nav>
                            <p class="title text-center">Suivez-nous :
                            <ul>
                                <li><a class="f_link" href="#"><i class="bi bi-facebook" aria-label="Facebook"></i>Facebook</a></li>
                                <li><a class="f_link" href="#"><i class="bi bi-twitter" aria-label="Twitter"></i>Twitter</a></li>
                                <li><a class="f_link" href="#"><i class="bi bi-linkedin" aria-label="Linkedin"></i>Linkedin</a></li>
                                <li><a class="f_link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"
                                       aria-label="Youtube"><i class="bi bi-youtube"></i>Youtube</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div id="label">
                <img src="{{ asset("images/partner.png") }}" alt="Label des partenaires">
            </div>
        </div>
    </div>
    <hr id="separator">
    <div class="row text-center"><p>Tout ce qui est sur ce site est faux !!</p></div>
</footer>